/* body{
    text-align: center;
} */
table, th, td{
    border: 2px solid black;
    border-collapse: collapse;    
}
table{
    width: 45%;
    height: 15rem;
    overflow-x: auto;
}
th{
    background-color: tomato;
    text-align: right;
    table-layout: fixed;
}